<link rel="stylesheet" type="text/css" href="~/Nvv/Css/nvv_qna.css">

<!-- body_area -->
<div class="xjQna">

    <div class="xjmain_Qna">
        운영시간 : 365일 24시간 <br />
        연중무휴 상담환영
    </div>

</div>
