<!-- body_area -->
<div class="container">
    <div class="body_area">
        <div class="bg_body">
            <div class="body_wrap">
                <!-- content -->
                <div class="content">
                    <!-- title -->
                    <div class="tit_box">
                        <h3>플래시게임</h3>
                        <p>
                            <a href="/">Home</a> <em>&gt;</em> <a href="#">플래시게임</a> <em>&gt;</em> <span>플래시게임</span>
                        </p>
                    </div>
                    <!-- // title -->
                    <div class="cont_wrap">
                        <!-- 내용 시작 -->
                        <div class="sub_menu_title"><h2>플래시게임</h2></div>
                        <ul class="flash_game">
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game01.html" onClick="window.open(this.href, 'mypopup', 'width=730, height=550'); return false;"><img src="/images/main/flash_game01.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game02.html" onClick="window.open(this.href, 'mypopup', 'width=560, height=460'); return false;"><img src="/images/main/flash_game02.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game03.html" onClick="window.open(this.href, 'mypopup', 'width=805, height=605'); return false;"><img src="/images/main/flash_game03.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game04.html" onClick="window.open(this.href, 'mypopup', 'width=725, height=525'); return false;"><img src="/images/main/flash_game04.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game05.html" onClick="window.open(this.href, 'mypopup', 'width=770, height=660'); return false;"><img src="/images/main/flash_game05.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game06.html" onClick="window.open(this.href, 'mypopup', 'width=710, height=510'); return false;"><img src="/images/main/flash_game06.png" title="" alt="" /> </a></li>
                            <li style="padding-top:10px;"><a href="/game/flash_game/flash_game07.html" onClick="window.open(this.href, 'mypopup', 'width=730, height=484'); return false;"><img src="/images/main/flash_game07.png" title="" alt="" /> </a></li>
                        </ul>
                        <!-- // 내용 끝  -->
                    </div>
                </div>
                <!-- // content -->
                <!-- right_area -->
                <!--@RenderPage("../common/RightGame.cshtml")-->
                <!-- // right_area -->
            </div>
        </div>
    </div>
</div>
<!-- // body_area -->
