<link rel="stylesheet" type="text/css" href="~/Nvv/Css/nvv_download.css">

<!-- body_area -->
<div class="xjDown">

    <div class="xjmain_down">

 
        <ul class="xjmain_downContent">
            <li>
                <div class="downimg">
                    <a class="button" href="@UserWeb.Properties.Settings.Default.DOWNLOAD_URL" target="_blank">
                        <img src="/image/20220923/img_download.png">
                    </a>

                </div>
            </li>

        </ul>
        
    </div>
</div>
