@model DBLIB.Player
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>가입된 회원</title>
</head>
<body>
    <div>
        @Model.UserName 님은 @Model.UserID 계정으로 가입되어 있습니다
    </div>
</body>
</html>
