
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .toolbar {
        float: left;
    }
</style>

<h2>공지사항</h2>

<table id="DataTable" class="table table-striped table-bordered table-sm table-hover">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>마지막 수정일</th>
            <th>표시여부</th>
            <th>팝업여부</th>
            <!--<th>기능</th> -->
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var dataTable = $("#DataTable").DataTable({
                info: false,
                processing: true,
                serverSide: true,
                paging: true,
                language: {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Korean.json"
                },
                order: [
                    [ 0, "desc"]
                ],
                columns: [
                    { "data": "id", "orderable": true},
                    { "data": "title", "orderable": false },
                    { "data": "createdOn", "orderable": false },
                    { "data": "lastModifiedOn", "orderable": false },

                    {
                        "data": "isActive",
                        "orderable": false,
                        "render": function (data, type, row) {
                            if (data == true)
                                return "표시";
                            else
                                return "<b>숨김</b>";
                        }
                    },
                    {
                        "data": "isPopup", "orderable": false,
                        render: function (data) {
                            if (data == true)
                                return "<b>팝업</b>";
                            else
                                return "일반";
                        }
                    },
                    /*
                    {
                        "data": null, "orderable": false
                    }
                    */
                ],
                /*
                columnDefs: [
                    { targets: -1, data: null, defaultContent: "<button class=\"btn btn-sm edit\">수정</button>" }
                ],*/
                ajax: {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("NoticeList", "Notice")",
                    data: function (d) {
                        return JSON.stringify({ parameters: d });
                    }
                },
                select: true,
                dom: '<"toolbar">frtip',
                fnInitComplete: function () {

                    $("div.toolbar").html("<button class=\"btn btn-sm new\">새 공지</button>");
                }
            });

            // 라인 선택
            dataTable.off("select").on("select", function (e, dt, type, indexes) {

                if (type != "row")
                    return;

                var selectedData = dataTable.rows({ selected: true }).data()[0];
                console.log(selectedData);
                /*
                createdOn: "2018-01-29 02:28"
                id: 9
                isActive: true
                isPopup: false
                lastModifiedOn: "-"
                title: "test title2"
                */
                window.open("/Article/EditNotice?no=" + selectedData.id, "_blank", "width = 700px; " );
            });

            /*
            // 수정
            dataTable.on("click", "button.edit", function (e, dt, type, indexes) {
                var data = dataTable.rows($(this).parents('tr')).data();
                for (var i = 0; i < data.length;i++)
                alert("!!" + data[i] + "," + data[i].id);
            });
            */
            // 새 공지 버튼
            $(document).on("click", "button.new", function (e, dt, type, indexes) {
                e.preventDefault();

                window.open("/Article/Write", "_blank", "width=600px;");
            });
        });

    </script>
}