



.xjDown {
    width: 1364px;
    height: 2000px;
    margin: 0 auto;
    display: table;
    margin-top: 5px;
    /*background: url("/image/img_download.png");*/
}

.xjmain_down {
    margin: 0px;
    width: 100%;
}

