
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Game</title>

    <script type="text/javascript" src="/common/js/jquery.min.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/ui.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/jquery.cookie.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/jquery.form.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/bootstrap.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/nvv_default.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/nvv_alert.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/Nvv/Js/nvv_default.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script src="/Nvv/Js/nvv_Login.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script src="/common/js/google.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/custom.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>



</head>

@RenderBody()

</body>

<script type="text/javascript">
</script>

</html>