
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Game</title>

    <!-- <script type="text/javascript" src="/common/js/jquery.min.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/ui.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/jquery.cookie.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/jquery.form.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script> -->
    <link rel="stylesheet" href="/common/css/common.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" href="/common/css/main.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/bootstrap.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/nvv_default.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <link rel="stylesheet" type="text/css" href="/Nvv/Css/nvv_alert.css?ver=@UserWeb.Properties.Settings.Default.CSS_VER">
    <!-- <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
    <!-- <script src="/Nvv/Js/nvv_default.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script src="/Nvv/Js/nvv_Login.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script src="/common/js/google.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>
    <script type="text/javascript" src="/common/js/custom.js?ver=@UserWeb.Properties.Settings.Default.JS_VER"></script>



    <iframe name="HiddenFrame" id="HiddenFrame" src="about:blank" width="400" style="display:none;height:90%;"></iframe> -->



</head>
<body class="mainBg">

 <div id="content" style="margin-top:100px;">
    <div class="content-container main_name_apk" style="widht:90%; margin:0 auto;">
        <div style="text-align:center; font-size:16px;">
            <a href="http://xzygames.com/apk/matgo0820.apk" target="_self" style="margin:0 10px">맞고 다운로드 [클릭]</a>
            <a href="http://xzygames.com/apk/badugi0820.apk" target="_self" style="margin:0 10px">바둑이 다운로드 [클릭]</a>
        </div>
    </div>
</div>

<!-- 
    @RenderBody() -->


   
</body>

<!-- <script type="text/javascript">
    function mainFootRating1() {
        $("#mainFootRating1").show();
        $("#mainFootRating2").hide();
        $("#mainFootRating3").hide();
    }
    function mainFootRating2() {
        $("#mainFootRating2").show();
        $("#mainFootRating1").hide();
        $("#mainFootRating3").hide();
    }
    function mainFootRating3() {
        $("#mainFootRating3").show();
        $("#mainFootRating2").hide();
        $("#mainFootRating1").hide();
    }
</script> -->

</html>