<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>오류</title>
</head>
<body>
    <hgroup style="margin-top: 100px;margin-bottom: 100px;text-align: center;">
        <h1>페이지 점검중</h1>
        <h2>요청을 처리하는 동안 오류가 발생했습니다.</h2>
    </hgroup>
</body>
</html>
