<div class="right_area">
    <h2 style="margin-bottom : 0">내 정보</h2>
    <ul>
        <li class="on"><a href="/member/myinfo">개인정보수정</a></li>
        <li class="on"><a href="/member/myroom">마이룸</a></li>
        <li class="on"><a href="/member/exchange">마일리지</a></li>
        <li class="on"><a href="/member/qna">1:1문의</a></li>
        <li class="on"><a href="/member/mylog">활동내역</a></li>
        <li class="on"><a href="/member/memo">관리자쪽지</a></li>
        <li class="on"><a href="/member/memOut">탈퇴요청</a></li>
        <li class="on"><a href="/member/SelfRestricted">이용제한 자가설정</a></li>
    </ul>
</div>