@{
    Layout = null;
}
<div class="right_area">
    <h2>@UserWeb.Properties.Settings.Default.GS_SITE_NAME</h2>
    <ul>
        <li class="on"><a href="/game/GameInfo"> 게임 소개</a></li>
        <li class="on"><a href="/game/GameDownload"> 게임 다운로드</a></li>
        <li class="on"><a href="/game/avatar"> 아바타샵</a></li>
    </ul>
    <div class="banner">
    </div>
</div>