


@model UserWeb.Models.MainViewModel


<script type="text/javascript">

</script>



<style>
</style>


<!-- <div class="xjMainBanner"> -->
<!-- </div> -->


<div class="xjMainContent">

    <div id="content" style="margin-top:100px;">
        <div class="content-container main_name_apk" style="widht:90%; margin:0 auto;">
            <div style="text-align:center; font-size:16px;">
                <a href="http://xzygames.com/Download/MatgoMobile" target="_self" style="margin:0 10px">맞고 다운로드 [클릭]</a>
                <a href="http://xzygames.com/Download/BadugiMobile" target="_self" style="margin:0 10px">바둑이 다운로드 [클릭]</a>
            </div>
        </div>
    </div>

</div>

<script>

</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
