<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UserWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
	<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR"/>
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <authentication mode="Windows" />
    <httpRuntime />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!-- cookie로 인증정보 교환-->
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <httpErrors errorMode="Detailed" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GameEntities" connectionString="metadata=res://*/VongGameDB.csdl|res://*/VongGameDB.ssdl|res://*/VongGameDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.40,1433;initial catalog=vonggame;persist security info=True;user id=sa;password=a15253244!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <UserWeb.Properties.Settings>
      <setting name="PAGING_SIZE" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DOWNLOAD_URL" serializeAs="String">
        <value>/Download/InstallerLink</value>
      </setting>
      <setting name="KCP_CERT_URL" serializeAs="String">
        <value>https://cert.kcp.co.kr/kcp_cert/cert_view.jsp</value>
      </setting>
      <setting name="API_BADUGI_VERSION" serializeAs="String">
        <value>1.0.1</value>
      </setting>
      <setting name="DOWNLOAD_URL2" serializeAs="String">
        <value>/Download/InstallerLink2</value>
      </setting>
      <setting name="GS_SITE_DOMAIN" serializeAs="String">
        <value>http://kissgame.kr</value>
      </setting>
      <setting name="GS_CORP_NAME" serializeAs="String">
        <value>키스</value>
      </setting>
      <setting name="GS_COMPANY_EMAIL" serializeAs="String">
        <value>KissGameKR@gmail.com</value>
      </setting>
      <setting name="KCP_SITE_CODE" serializeAs="String">
        <value>AIPKP</value>
      </setting>
      <setting name="KCP_WEBSITE_ID" serializeAs="String">
        <value>J22120108780</value>
      </setting>
      <setting name="KCP_ENC_KEY" serializeAs="String">
        <value>fdb02b0c8dc59817760768e23e0c0650faea77ab7181efefa03062f7bc3b4096</value>
      </setting>
      <setting name="GS_MONEY_NAME" serializeAs="String">
        <value>칩</value>
      </setting>
      <setting name="GS_MONEY2_NAME" serializeAs="String">
        <value>칩</value>
      </setting>
      <setting name="API_MATGO_VERSION" serializeAs="String">
        <value>1.0.1</value>
      </setting>
      <setting name="DOWNLOAD_MATGOAPK_FILENAME" serializeAs="String">
        <value>kissgamematgo.apk</value>
      </setting>
      <setting name="DOWNLOAD_BADUGIAPK_FILENAME" serializeAs="String">
        <value>kissgamebadugi.apk</value>
      </setting>
      <setting name="MARKET_ID_BADUGI" serializeAs="String">
        <value>com.kissgame.kissbadugi</value>
      </setting>
      <setting name="MARKET_ID_MATGO" serializeAs="String">
        <value>com.kissgame.kissmatgo</value>
      </setting>
      <setting name="CSS_VER" serializeAs="String">
        <value>2211141</value>
      </setting>
      <setting name="JS_VER" serializeAs="String">
        <value>2211141</value>
      </setting>
      <setting name="GS_CASH_NAME" serializeAs="String">
        <value>머니</value>
      </setting>
      <setting name="GS_SITE_NAME" serializeAs="String">
        <value>룰루랄라파티</value>
      </setting>
      <setting name="DOWNLOAD_INSTALL_FILENAME" serializeAs="String">
        <value>KissGame.exe</value>
      </setting>
      <setting name="URI_LOCATION" serializeAs="String">
        <value>KissGame</value>
      </setting>
      <setting name="DOWNLOAD_INSTALL2_FILENAME" serializeAs="String">
        <value>KissGame.exe</value>
      </setting>
      <setting name="DOWNLOAD_IMAGE_FILENAME" serializeAs="String">
        <value>eps.zip</value>
      </setting>
    </UserWeb.Properties.Settings>
  </applicationSettings>
</configuration>